# dependencies
node_modules/
.pnp
.pnp.js

# build
dist/
.next/
out/
build/

# env
.env
.env*.local
deploy/aws/config.env
deploy/oracle/config.env


# logs
logs/
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# testing
coverage/

# misc
*.tsbuildinfo
next-env.d.ts
.vercel
.env*
